{% extends "base.html" %}

{% block content %}
<div class="body container">
    <div class="logo-container">
        <img src="/static/images/Logo.png" alt="Logo" class="logo">
    </div>
    <div class="sidebar">
        <div class="username">
            {{ items.username }}
        </div>
        <a href="/home">Home</a>
        <a href="/liked">Favorites</a>
        <a href="/team">Meet the Team</a>
        <a href="/feedback">Feedback</a>
        <a onclick="logout()">Logout</a>
        <a onclick="toggleDarkMode()"><i class="fas fa-moon fa-2x"></i></a>
    </div>
    <h1 class="h1">SmartRecipes</h1>
    <div class="image-carousel">
        <img src="/static/images/Cooking.jpg" alt="Cooking Pan" class="active img">
        <img src="/static/images/Variety_Food.jfif" alt="Variety of food" class="img">
        <img src="/static/images/Pancakes.jpg" alt="Pancakes" class="img">
        <img src="/static/images/img1.jpg" alt="Variety" class="img">
        <img src="/static/images/img2.jpg" alt="Stir Fry" class="img">
        <img src="/static/images/img4.jpg" alt="Steak" class="img">
    </div>
    <p>Introducing SmartRecipes: a web application that generates recipe ideas based on the ingredients you have on hand. Type, speak, or upload a file below to get started, and say goodbye to wasted groceries and hello to a more efficient cooking experience!</p>
    <h2>Ingredients:</h2>
    <div class="container ingredients" id="ingredients">
        {% for ingredient in session['ingredients'] %}
        <div class="form-check" id="{{ ingredient }}">
            <input class="form-check-input" name="ingredient" type="checkbox" value="" id="flexCheckDefault"
                checked="true">
            <label class="form-check-label" for="flexCheckDefault">
                {{ ingredient[0]|upper }}{{ ingredient[1:] }}
            </label>
        </div>
        {% endfor %}
    </div>
    <button type="button" name='clear' onclick="selectAll()">Select or Deselect All</button>
    <button type="button" name='clear' onclick="remove()">Remove Selected Ingredients</button>
    <button type="button" name='Search' onclick="search()" style="background-color: green; color: white;">Find
        Recipes</button>
    <hr style=" width: 100%; border: 2.5px solid;">
    <form onsubmit="clearAllFields()" class="form">
        <form class="form" style="display: flex; flex-direction: row; align-items: center;">
            <label for="text-box" style="margin-right: 10px;">Enter ingredients:</label>
            <input type="text" id="text-box" placeholder="e.g. tomatoes" onkeydown="handleEnterKeyDown(event)"
                style="border-radius: 5px; border: 1px solid;">
        </form>
    </form class="form">

    <form class="form">
        <input type="file" id="imageInput" accept="image/*">
        <button type="button" name='Scan' onclick="sendImageToBarcodeScanner()">Scan Barcode</button>
    </form>

    <form class="form" style="display: inline-block;">
        <button type="submit" name='Speak' onclick="sendToSpeech()">Start saying ingredients</button>
    </form>

    <form class="form" style="display: inline-block;">
        <button type="button" name='Read' onclick="readWebpage()">Read Webpage</button>
    </form>

</div>

{% endblock %}
